{
    "printWidth": 120,
    "singleQuote": true,
    "useTabs": false,
    "tabWidth": 2,
    "semi": true,
    "jsxBracketSameLine": false,
    "bracketSpacing": true,
    "trailingComma": "all",
    "htmlWhitespaceSensitivity": "ignore"
}
